$primary1: #0055ff;
$primary1_light: #b2ccff;
$primary2: #0ae6be;
$primary2_light: #b6f8ec;

$headlineFont: 'Rockwell';
$bodyFont: 'Gill sans';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: $bodyFont;
    font-size: 48px;
    color: #444444;
}

/* Slide */
@media screen {
    div.container {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        &.animate {
            transition: transform 0.4s;
        }
        &.left {
            transform: translateX(-100%);
        }
        &.right {
            transform: translateX(100%);
        }
        &.visible {
            transform: translateX(0);
        }
    }
}

div.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;

    > * {
        flex-grow: 0;
    }

    > p {
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
    }

    > h3 {
        margin-top: 0.5em;
        margin-bottom: 0;
        text-align: center;
        flex-grow: 0;
    }

    h3 {
        font-family: $headlineFont;
        font-size: 72px;
        font-weight: bold;
        color: $primary1;
    }
}

/* Title */
div.title {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    padding-left: 0.5em;

    h1 {
        font-family: $headlineFont;
        font-weight: bold;
        font-size: 3em;
        order: 3;
        margin: 0;
    }

    /* First spacer */
    div.spacer:nth-child(1) {
        flex-grow: 2;
        order: 1;
    }

    /* First p in slot */
    p:nth-child(3) {
        order: 2;
    }

    /* Last spacer */
    div.spacer {
        flex-grow: 1;
        order: 4;
    }

    /* Second p in slot */
    p:nth-child(4) {
        order: 5;
        font-size: 0.7em;
    }
}

/* Section */
div.section {
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    padding-left: 1em;

    h2 {
        font-family: $headlineFont;
        word-spacing: -10%;
        font-weight: bold;
        font-size: 3em;
        line-height: 100%;
    }

    div.d2 {
        height: 100%;
        position: relative;
    }

    div.d3 {
        margin: 0;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }
}

/* Slide content */
ul,
p,
blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

li {
    line-height: 150%;
}

blockquote {
    font-family: $bodyFont;
    font-style: italic;
    text-align: center;
}

/* Image */
div.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    flex-grow: 10;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 98vw;

    :last-child {
        margin-bottom: 0.5em;
    }
}

/* Comments, a.k.a Speaker Notes */
body.comment {
    div.title {
        background-image: linear-gradient(
            #e5e5e5 0%,
            #f0f0f0 16%,
            #ffffff 100%
        );
    }

    div.slide {
        justify-content: normal;
        align-items: start;

        * {
            display: none;
        }

        p.comment {
            display: flex;
            order: 1;
            margin: 0.2em 1em;
            text-align: left;
        }
    }
}

p.comment {
    display: none;
}

/* Overview mode */
body.overview {
    overflow: visible;

    div.container {
        box-sizing: content-box;
        position: relative;
        box-shadow: 20px 15px 8px #888;
        border: 8px solid #888;
        cursor: pointer;

        &.selected {
            border: 8px solid red;
        }
    }
}

/* Print */
@media print {
    body {
        overflow: visible;
    }
    div.container {
        width: 100vw;
        height: 100vh;
        page-break-after: always;
    }

    div.container:last-child {
        page-break-after: avoid;
    }
}

@page {
    margin: 1cm;
    size: landscape;
}

@page :footer {
    display: none;
}

@page :header {
    display: none;
}
