*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
}

body.overview {
	overflow: visible;
}

div.slide {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
	height: 100%;
}

div.slide > * {
    flex-grow: 0;
}

div.slide > h3 {
	margin-top: 0.5em;
	margin-bottom: 0;
	text-align: center;
	flex-grow: 0;
}

ul,p,blockquote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	margin-left: 1em;
	margin-right: 1em;
}

.slide > div {
	width: 100%;
}

li {
	line-height: 150%;
}

@media print {
	body {
		overflow: visible;
	}
}

@import "default";